.container#presentation-1 {
  text-align: center !important;
}
.container#presentation-1 h2 {
  padding-top: 40px !important;
}
.container#presentation-1 .container-inner {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 80px;
  border: 2px solid #2c7d7b;
  border-radius: 15px;
  padding: 30px;
  background-color: #d4ebeb;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
.container#presentation-1 .container-inner:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.container#presentation-2 {
  background-color: #d4ebeb;
}
.container#presentation-2 .container-inner {
  text-align: center;
}
.container#presentation-2 .container-inner h3 {
  margin-top: 0;
  font-size: 1.5em;
}
.container#presentation-2 .container-inner .colonnes {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.container#presentation-2 .container-inner .colonnes .colonne {
  flex: 1;
}
.container#presentation-2 .container-inner .colonnes .colonne p {
  color: grey;
}
.container#presentation-2 .container-inner .colonnes .colonne figure img {
  height: 60px;
  padding: 10px;
  border-radius: 50%;
}
.container#presentation-2 .container-inner .colonnes .colonne figure img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
.container#presentation-2 .container-inner .colonnes .colonne:first-child figure img {
  background-color: #cbb1e2;
}
.container#presentation-2 .container-inner .colonnes .colonne:nth-child(2) figure img {
  background-color: #7ce8dc;
}
.container#presentation-2 .container-inner .colonnes .colonne:nth-child(3) figure img {
  background-color: #f6d177;
}

.container#presentation-3 .container-inner {
  text-align: center;
}
.container#presentation-3 .container-inner:first-child {
  padding-bottom: 30px !important;
}
.container#presentation-3 .container-inner:nth-child(2) {
  text-align: left;
  padding-top: 0px !important;
}
.container#presentation-3 .container-inner:nth-child(2) p {
  padding: 0px 60px 0px 60px;
}
.container#presentation-3 .container-inner h3 {
  font-size: 1.5em;
}
.container#presentation-3 .container-inner .colonnes {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.container#presentation-3 .container-inner .colonnes .colonne {
  background-color: rgb(239.82, 242.35, 244.88);
  border-radius: 30px;
  flex: 1;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
.container#presentation-3 .container-inner .colonnes .colonne:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
.container#presentation-3 .container-inner .colonnes .colonne figure img {
  height: 150px;
  border-radius: 50%;
}
.container#presentation-3 .container-inner .colonnes .colonne p {
  text-align: left;
  margin: 30px;
}

.container#presentation-4 {
  background-color: rgb(191.3905325444, 232.6094674556, 231.5917159763);
}
.container#presentation-4 .container-inner {
  text-align: center;
}
.container#presentation-4 .container-inner h1 {
  color: white;
  position: relative;
  font-size: 3.5em;
}
.container#presentation-4 .container-inner h1::before {
  position: absolute;
  content: "";
  top: -40px;
  left: 155px;
  width: 55px;
  height: 55px;
  background-image: url("../assets/presentation/quote1.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.container#presentation-4 .container-inner h1::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 155px;
  width: 50px;
  height: 50px;
  background-image: url("../assets/presentation/quote2.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

/*# sourceMappingURL=presentation.css.map */
