html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  line-height: 140%;
  position: relative;
  overflow-x: hidden;
  color: black;
  font-size: 16px;
}
body.no-scroll {
  overflow: hidden;
}
body.no-scroll main {
  opacity: 0.8;
}
.container {
  width: 100%;
}
.container > .container-inner {
  margin: 0 auto;
  padding: 80px 60px;
  box-sizing: border-box;
}
.container > .container-inner .container, .container > .container-inner .container-inner {
  width: 100%;
  padding: 0px;
}
.groupe {
  width: 100%;
}
.groupe > .groupe_ds_groupe {
  margin: 0 auto;
  padding: 80px 60px;
  box-sizing: border-box;
}
.groupe > .groupe_ds_groupe .groupe, .groupe > .groupe_ds_groupe .groupe_ds_groupe {
  width: 100%;
  padding: 0px;
  max-width: none;
}
.groupe > .groupe_ds_groupe p:not(:last-child) {
  padding-bottom: 10px;
}
.groupe > .groupe_ds_groupe .groupe_colonnes * + .groupe_colonnes {
  margin-top: 40px;
}
.groupe > .groupe_ds_groupe .groupe_colonnes {
  gap: 2em;
}
.groupe > .groupe_ds_groupe .groupe_colonnes .groupe_colonne:not(:first-child) {
  margin: 0 !important;
}
.groupe > .groupe_ds_groupe .groupe_colonnes .groupe_colonne figure:not(:last-of-type) {
  margin-bottom: 2.5em;
}
.groupe > .groupe_ds_groupe .groupe_colonnes .groupe_colonne figure img {
  height: 500px;
  object-fit: cover;
}
.groupe > .groupe_ds_groupe .groupe_colonnes + * {
  margin-top: 40px;
}

#accueil-1.container {
  position: relative;
}
#accueil-1.container figure:first-child {
  margin: 0px;
}
#accueil-1.container figure:first-child img {
  width: 100%;
  object-fit: cover;
  position: relative;
  height: 350px;
}
#accueil-1.container figure:nth-child(2) {
  opacity: 1;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#accueil-1.container figure:nth-child(2) button {
  background-color: #2c7d7b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
}
#accueil-1.container figure:nth-child(2) button:hover {
  background-color: rgb(30.7218934911, 87.2781065089, 85.8816568047);
}

#accueil-2.container {
  text-align: center;
}
#accueil-2.container .container-inner {
  max-width: 1200px;
  margin: 0 auto;
}
#accueil-2.container .container-inner h2 {
  color: #2c7d7b;
  font-size: 2em;
  margin-top: 0px;
  margin-bottom: 30px;
}
#accueil-2.container .container-inner .container-columns {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
#accueil-2.container .container-inner .container-columns .column {
  background-color: rgb(239.82, 242.35, 244.88);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  flex: 1;
  text-align: center;
}
#accueil-2.container .container-inner .container-columns .column h3 {
  color: #2c7d7b;
  font-size: 1.5em;
  margin-bottom: 15px;
}
#accueil-2.container .container-inner .container-columns .column p {
  font-size: 1em;
  color: #555;
}

#accueil-3.container {
  border-radius: 15px;
  padding-bottom: 80px;
  text-align: center;
  padding-top: 0;
}
#accueil-3.container .container-inner {
  max-width: 800px;
  margin: 0 auto;
  border: 2px solid #2c7d7b;
  border-radius: 15px;
  padding: 30px;
  background-color: rgb(229.1124260355, 245.8875739645, 245.4733727811);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
#accueil-3.container .container-inner h2 {
  color: #2c7d7b;
  font-size: 2em;
  margin-bottom: 20px;
}
#accueil-3.container .container-inner p {
  font-size: 1.2em;
  color: #333;
  line-height: 1.5;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  background-color: #f9fafb;
}
.navbar .logo {
  margin-left: 20px;
}
.navbar .logo img {
  width: 50px;
}
.navbar .nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar .nav-links li {
  margin-left: 20px;
}
.navbar .nav-links li a {
  text-decoration: none;
  font-size: 24px;
  color: #2c7d7b;
  font-weight: bold;
}
.navbar .nav-links li a:hover {
  color: #da4837;
}
.navbar .nav-btn button {
  background-color: #2c7d7b;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  margin-right: 20px;
  cursor: pointer;
}
.navbar .nav-btn button:hover {
  background-color: rgb(30.7218934911, 87.2781065089, 85.8816568047);
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #f9fafb;
  padding: 20px 50px;
  border-top: 1px solid #e1e1e1;
}
.footer .footer-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer .footer-section h4 {
  color: #2c7d7b;
  font-weight: bold;
  margin-bottom: 10px;
}
.footer .footer-section ul {
  list-style: none;
  padding: 0;
}
.footer .footer-section ul li {
  margin-bottom: 5px;
}
.footer .footer-section ul li a {
  text-decoration: none;
  color: black;
}
.footer .footer-section ul li a:hover {
  color: #2c7d7b;
}
.footer .social-icons {
  display: flex;
  gap: 15px;
}
.footer .social-icons li {
  display: inline-block;
}
.footer .social-icons li a img {
  width: 30px;
  height: 30px;
}

/*# sourceMappingURL=styles.css.map */
