// SCSS pour la Navbar
.navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    background-color: $blanc-casse;  
    box-shadow: $ombre;

    .logo {
        margin-left: 20px;
        img {
            width: 50px;  
        }
    }

    .nav-links {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin-left: 20px;

            a {
                text-decoration: none;
                font-size: 24px;
                color: $vert;  
                font-weight: bold;

                &:hover {
                    color: $orange;  // Couleur de survol en rouge a voir ?
                }
            }
        }
    }

    .nav-btn {
        button {
            background-color: $vert;  // Couleur du bouton de connexion (vert)
            color: $blanc;
            padding: 8px 15px;
            border: none;
            border-radius: 20px;  // Arrondi
            font-size: 16px;
            margin-right: 20px;
            cursor: pointer;

            &:hover {
                background-color: color.adjust($vert, $lightness: -10%); 
            }
        }
    }
}

// responsive
@media only screen and (max-width:1700px) {
}

@media only screen and (max-width:1600px) {
}

@media only screen and (max-width:1440px) {
}

@media only screen and (max-width:1230px) {
}

@media only screen and (max-width:1024px) {
}

@media only screen and (max-width:781px) {
}

@media only screen and (max-width:580px) {
}
