// gestion du responsible

$width-max: 1750px; 
$width-large: 100% ;
$width-medium-large: 100%; 
$width-medium: 100%;
$width-small: 100%; 

$vert : #2c7d7b;
$vert-fonce: color.adjust($vert, $lightness: -3%);
$orange : #da4837;
$blanc-casse : #f9fafb;
$blanc : white;
$vert-clair: #d4ebeb;
$gris : color.adjust($blanc-casse, $lightness: -3%);
$vert-fonce: color.adjust($vert, $lightness: -3%);

$ombre :  0px 4px 6px rgba(0, 0, 0, 0.3);
