
html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    padding: 0;
    line-height: 140%;
    position: relative ;
    overflow-x: hidden;
    color: black;
    font-size: 16px;
    &.no-scroll {
      overflow: hidden;
      main {
        opacity: .8;
      }
    }
    main {
     // margin-top: 126px;
    }
  }


  .container {
    width: 100%;
    &>.container-inner {
      margin: 0 auto;
      padding: 80px 60px;
      box-sizing: border-box;

      .container, .container-inner {
        width: 100%;
        padding:0px;
      }
      .container-collums {
      }
    }

  }

  .groupe {
    width: 100%;
    &>.groupe_ds_groupe {
      margin: 0 auto;
      padding: 80px 60px;
      box-sizing: border-box;
      //Groupe dans un groupe
      .groupe, .groupe_ds_groupe{
        width: 100%;
        padding:0px;
        max-width: none;
      }
      p:not(:last-child) {
        padding-bottom: 10px;
      }
      .groupe_colonnes
      //colonnes
      * + .groupe_colonnes {
        margin-top: 40px;
      }
      .groupe_colonnes {
        gap: 2em;
        .groupe_colonne {
          &:not(:first-child) {
            margin: 0 !important
          }
          figure:not(:last-of-type) {
            margin-bottom: 2.5em;
          }
        }
        .groupe_colonne {
          figure {
            img {
              height: 500px;
              object-fit: cover;
            }
          }
        }
        & + * {
          margin-top: 40px;
        }
      }
    }
  }



// responsive
@media only screen and (max-width:1700px) {
  }
  
  @media only screen and (max-width:1600px) {
  }
  
  @media only screen and (max-width:1440px) {
  }
  
  @media only screen and (max-width:1230px) {
  }
  
  @media only screen and (max-width:1024px) {
  }
  
  @media only screen and (max-width:781px) {
  }
  
  @media only screen and (max-width:580px) {
  }
  